<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="\Magento\Catalog\Ui\DataProvider\Product\ProductDataProvider">
        <plugin name="add_position_marketing_to_collection"
                type="Omnipro\QuickProductPositioning\Plugin\Catalog\Product\PositionToColleccion"/>
    </type>
</config>
